.nav-link {
  padding-top: 1rem;
  padding-bottom: 0px;
}

.main-buttons {
  margin-right: 1rem;
  border-radius: 2rem;
  border: 3px solid white;
  padding: .25rem 1rem;
  text-decoration: none;
}

.main-buttons:hover {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .navLogo {
    width: 500px
  }
  .main-buttons {
    margin-left: 1rem;
    margin-right: 0;
  }
}
