.btn.btn-circle {
    padding: 0;
    border-radius: 50%;
    margin: 0;
    top: 1%;
    right: 3%;
    bottom: auto;
    left: auto;
    position: fixed;
}

.svgIcon {
    display: block;
}

.btn-week{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
