.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.spacer-top-50 {
  margin-top: 50px; }

.spacer-bottom-50 {
  margin-bottom: 50px; }

html {
  font-size: 16px; }

@media (max-width: 767px) {
  html {
    font-size: 14px; } }

@media (min-width: 768px) {
  html {
    font-size: 16px; } }

@media (min-width: 992px) {
  html {
    font-size: 18px; } }

@media (min-width: 1200px) {
  html {
    font-size: 18px; } }

.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
  margin: 0;
  top: auto;
  right: 3%;
  bottom: 3%;
  left: auto;
  position: fixed; }

.svgIcon {
  display: block; }

.btn-week {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.go-back-button {
  color: #666666 !important;
  display: block;
  margin-bottom: 20px; }
  .go-back-button i {
    margin-right: 5px; }
  .go-back-button:hover {
    color: #00b491 !important; }

#wall-of-fame-header {
  height: 300px;
  background: linear-gradient(rgba(80, 99, 119, 0.5), rgba(28, 59, 68, 0.9));
  color: white;
  display: flex;
  flex-direction: row; }
  #wall-of-fame-header h3 {
    margin-bottom: 20px;
    color: white; }
  #wall-of-fame-header .vertical-align {
    position: absolute;
    padding: 80px; }
  #wall-of-fame-header .VideoHeader {
    position: relative;
    top: 0;
    display: block;
    margin: auto;
    z-index: -20;
    max-height: 300px;
    max-width: 100%; }
  #wall-of-fame-header .VideoPlayer {
    max-height: 300px; }

.overview-card {
  padding: .5rem .5rem .25rem .5rem;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  cursor: pointer; }
  .overview-card .VideoWrapper .overlayContainer {
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: left;
    transition: opacity 0.5s;
    opacity: 1;
    display: block;
    background: linear-gradient(rgba(80, 99, 119, 0.5), rgba(28, 59, 68, 0.9));
    padding: 10px;
    font-size: 10px; }
    .overview-card .VideoWrapper .overlayContainer .overlayTitle {
      color: white; }
    .overview-card .VideoWrapper .overlayContainer .overlayDate {
      color: white;
      font-size: 10px;
      text-align: center; }
  .overview-card .VideoWrapper video {
    width: 100%;
    height: 100%;
    z-index: 1; }
    .overview-card .VideoWrapper video::-webkit-media-controls {
      z-index: 2;
      width: 100%; }

html,
body {
  font-family: 'Quicksand', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; }

.page-layout {
  padding: 130px 20px 50px 20px; }
  .page-layout.reduced-padding {
    padding-top: 50px; }
  .page-layout.extended-padding {
    padding-top: 130px; }

a,
button {
  cursor: pointer; }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 60%;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  line-break: auto; }

.popover.top {
  margin-top: -10px; }

.popover.right {
  margin-left: 10px; }

.popover.bottom {
  margin-top: 10px; }

.popover.left {
  margin-left: -10px; }

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.popover-content {
  padding: 9px 14px;
  max-width: 100%; }

.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover > .arrow {
  border-width: 11px; }

.popover > .arrow:after {
  content: "";
  border-width: 10px; }

.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0; }

.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0; }

.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0; }

.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0; }

.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25); }

.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff; }

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25); }

.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

.navbar {
  background-color: #2c0d54 !important;
  filter: alpha(opacity=70);
  opacity: 0.9; }

.navbar-brand {
  color: white !important; }

* {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6, .logo-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #2c0d53; }

.btn {
  background-color: #2c0d54;
  border-color: #2c0d54; }
